@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

/* Josh Comeau's CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Colors and Fonts */

:root {
  /* ### Primary */

  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);

  /* ### Neutral */

  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  --ff-headings: "DM Serif Display", serif;
  --ff-body: "Karla", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

/* General Settings */

body {
  font-family: var(--ff-body);
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-family: var(--ff-headings);
}

h1, h2 {
  font-size: 2.8125rem;
}

/* Header styling */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.header_menu {
  display: none;
}

/* Main section styling */

.main_heading {
  background-color: var(--Dark-Violet);
  background-image: url('../images/bg-pattern-intro-left-mobile.svg'), url('../images/bg-pattern-intro-right-mobile.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center center;
  background-position-x: 0, 100%;
  background-position-y: 28.25rem, 49.75rem;
  color: var(--Very-Light-Gray);
  text-align: center;
}

.main_heading_text {
  padding: 5.75rem 1.5rem;
  display: grid;
  gap: 1rem;
}

.main_heading_text h1 {
  line-height: 3rem;
}

.main_heading_text p {
  line-height: 1.625rem;
}

.button {
  border: 1px solid var(--Very-Light-Gray);
  text-transform: uppercase;
  background-color: transparent;
  color: var(--Very-Light-Gray);
  width: 9rem;
  padding: .375rem;
  place-self: center;
}

button.plans {
  margin-top: 1.125rem;
}

/* About section styling */

.main_about {
  display: grid;
  gap: 4.375rem;
  text-align: center;
  place-content: center;
  padding: 6.5625rem 2rem;
}

.h2_border {
  height: 0;
  width: 50%;
  border-top: 1px solid darkviolet;
  margin: auto;
  transform: translateY(2.25rem);
}

.main_about h3 {
  font-size: 1.625rem;
}

.main_about_blocs {
  display: grid;
  gap: 3.5rem;
}

.about_bloc {
  display: grid;
  gap: 2rem;
  place-items: center;
}

.about_bloc p {
  margin-top: -1rem;
  line-height: 1.5625rem;
}

/* Find out section styling */

.findout {
  background-color: var(--Dark-Violet);
  color: white;
  text-align: center;
  padding: 4.5rem 1.125rem;
  width: 88%;
  margin: auto;
  margin-top: 2.25rem;
  line-height: 2.5625rem;
}

.findout h2 {
  font-size: 2.3125rem;
}

button.how {
  width: 10rem;
  padding: 0;
  margin-top: 2.375rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
